/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 0px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
    background-color: rgb(211, 210, 210);
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }

 table {border-collapse: collapse;}
 
 /* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
 table {
    width: 100%;
    height: 100%;
 }
 /* задаст фиксированную ширину для таблицы */
 table {
    width: 800px;
    
 }